.school-content {
  border-left: solid 5px #f5e9dc;
  padding-left: 1vw;
}

#education-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  padding-left: 2vw;
}

#school-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  width: 100%;
}

#school-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .school-content p {
    font-size: calc(2px + 3vw);
  }

  #relevant-courses-container p {
    font-size: calc(2px + 3vw);
  }
}
